.list-item {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 0 10px 0;
    border-bottom: 1px solid darkgrey;
    margin: 10px;
    cursor: pointer;
    padding: 10px 10px 10px 0;
    align-items: center;
    border-radius: 3px;
}

.time-is-up {
    border: 2px solid red;
}

.is-done {
    border: 2px solid greenyellow;
}

.list-item:hover {
    background-color: lightgray;
}

.list-item-info {
    width: 100%;
    display: flex;
}

.time {
    font-weight: 500;
    display: flex;
    align-items: center;
    padding: 10px;
}

.text-info {
    color: gray;
    display: flex;
    align-items: center;
    padding: 10px;
}

.file-list {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

h1 {
    font-family: Roboto;
}

h2 {
    font-family: Roboto;
}

